.About
  background url('../images/fondo-about.png') no-repeat
  background-size cover
  background-position center center
  &-titulo
    text-align center
    color white
    padding-top 2rem
    +hasta('l')
      display: none;
      padding-top 5rem
  &-fila
    margin-top 2rem
    display block
    overflow hidden
    +hasta('l')
      margin-top 1rem
  &-columna
    float left
    width 50%
    padding 0 5px
    +desde('m')
      width 50%
    +hasta('l')
      margin-bottom 2rem
    +desde('l')
      width 25%
  &-cart
    text-align center
    max-width 220px
    margin 0 auto
    position relative
    height auto
    +hasta('l')
      padding-bottom 1rem
      padding-top 1rem
    +desde('l')
      height 200px
      padding-top 1.5rem
  &-front
    +hasta('l')
      img
        width 70%
  &-back
    padding 0 5px
    +desde('l')
      padding 0 30px
    h2,p
      color white
  &-backTitulo
    margin-top 3rem
    font-weight 200 !important
    font-family 'MyriadPro-Cond', sans-serif !important
    font-size 1.2em
    +hasta('l')
      display none
  &-backParrafo
    +hasta('l')
      font-size 12px
