.Corporate
  background url('../images/fondo-corporate.png') no-repeat
  background-size cover
  &-container
    display flex
    align-items center
    justify-content center
    height 100%
    +hasta('l')
      padding-left .5rem
      padding-right .5rem
      min-height calc(100vh - 120px)
  &-item
    text-align center
    max-width 740px
    color white
    position relative
    padding 17px
