@font-face {
	font-family: 'MyriadPro-Cond';
	src: url('../fonts/MyriadPro-Cond.eot');
	src: local('☺'), url('../fonts/MyriadPro-Cond.woff') format('woff'), url('../fonts/MyriadPro-Cond.ttf') format('truetype'), url('../fonts/MyriadPro-Cond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-BoldCond';
	src: url('../fonts/MyriadPro-BoldCond.eot');
	src: local('☺'), url('../fonts/MyriadPro-BoldCond.woff') format('woff'), url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('../fonts/MyriadPro-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-LightCond';
	src: url('../fonts/MyriadPro-LightCond.eot');
	src: local('☺'), url('../fonts/MyriadPro-LightCond.woff') format('woff'), url('../fonts/MyriadPro-LightCond.ttf') format('truetype'), url('../fonts/MyriadPro-LightCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
