form
  font-weight 400
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder
  color #303485

textarea::-moz-placeholder,
input::-moz-placeholder
  color #303485
  opacity 1

textarea:-moz-placeholder,
input:-moz-placeholder
  color #303485

textarea:-ms-input-placeholder,
input:-ms-input-placeholder
  color #303485
textarea:-moz-placeholder,
input:-moz-placeholder
  color #303485
input,
select,
textarea
  width 100%
  height 30px
  border-radius 5px
  box-shadow 0 0 3px 3px verde
  padding-left 5px
  padding-top 4px
  color verde-oscuro
  font-size 1rem
  font-family 'MyriadPro-Cond'
  border none
  &.has-error
    box-shadow 0 0 3px 3px #ff6347
input:focus,
select:focus,
textarea:focus
  outline 0
  box-shadow 0 0 5px 5px verde
input.has-error:focus,
select.has-error:focus,
textarea.has-error:focus
  outline 0
  box-shadow 0 0 5px 5px #ff6347
select::-ms-expand
  display none
textarea
  height 90px

.Form-group
  margin-bottom 15px
  >.ed-item
    padding 0 10px

.Form-label
  display block
  width 100%
  font-family 'MyriadPro-LightCond'
  padding 2px 0

button.Form-button
  border none
  color #fff
  padding 10px 0
  border-radius 2px
  text-transform uppercase
  background verde-oscuro
  transition: 0.5s
  width 134px
  outline 0
  font-size 1.2rem
  font-family 'MyriadPro-LightCond'
  cursor pointer
