.Home
  background url('../images/fondo-home.png') no-repeat
  background-size cover
  background-position center left
  transition .5s
  &-titulo
    font-family 'MyriadPro-LightCond'
    line-height .9
    color verde-oscuro
    margin 0
    font-size 2.8rem
    margin-top 4rem
    +desde-hasta('s','l')
      font-size 3rem
    +desde('l')
      letter-spacing .2rem
      font-size 4.8rem
      margin-top 3rem
    img
      +hasta('l')
        width 25px
  &-parrafo
    color verde-oscuro
    font-size 1.2rem
    text-align justify
    +desde('l')
      font-size 1.3rem
      padding-right 6rem
    +desde-hasta('s','l')
      font-size 1.8rem
  .ed-item
    +desde-hasta('s','l')
      padding 6rem 6rem 0 6rem !important
