.Materials
  background url('../images/fondo-about.png') no-repeat
  background-size cover
  background-position center center
  &-container
    display flex
    align-items center
    justify-content center
    height 100%
  &-item
    text-align center
    max-width 900px
    color white
    position relative
    padding 17px
  &-imagenes
    position relative
    text-align center
    background white
    padding 1rem 2rem
    margin-top 1rem
    border-radius 5px
    img
      max-width 90%
      margin-left 3px
      vertical-align middle
