.Products
  background url('../images/fondo-products.png') no-repeat
  background-size cover
  background-position center center
  &-lista
    display flex
    align-items center
    justify-content center
    height calc(100vh - 173px)
    +desde('l')
      height 100%
  &-listaContainer
    position relative
    width 235px
    padding 17px
    ul
      margin 0
      padding 0
      background-size 100% 100%
      li
        display block
        text-align center
        a
          display block
          color verde
          font-size 1.4rem
          transition all .5s
          &:hover
            color verde-oscuro
            background plomoFondoImagen
            font-size 2rem
            font-family 'MyriadPro-BoldCond'
  &-contenido
    display block
    padding-top 20px
    +hasta('l')
      padding-top 3rem
  &-fila
    width 100%
  &-columna
    padding 0 10px
    float left
    width 100%
    +desde('l')
      width 33.333%
  &-slider
    padding 0 20px
  &-detalle
    padding-top 1rem
  &-detalleCabezera
    overflow hidden
    width 100%
    border-bottom 1px solid white
  &-detalleTitulo
    color white
    float left
  &-detalleFlechas
    float right
    a
      color white
  &-parrafo
    padding-top 1.5rem
  &-detalleLista
    ul
      margin 0
      padding 0
      max-width 165px
      margin 0 auto
      li
        list-style-type none
        text-align center
        line-height 1
        a
          display block
          padding 4px 0
          color verde
          font-size 1rem
          &.active
            font-family 'MyriadPro-BoldCond'
            background plomoFondoImagen
            color verde-oscuro
            font-size 1.5rem
  &-galeria
    padding 0 50px
  &-grid
    cuadricula('Products-box',3,.2em)
  &-box
    img
      border 2px solid white
      border-radius 10px
