// VARIABLES ED GRID
// Puede encontrar y modificar las variables de ED GRID
// en ed-grid/ed-grid.scss

// Font face. Incluya el import de Google Fonts o su regla font-face
// Lo usual es una fuente para los textos y otra para los títulos
//@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800");

// Variables para aplicarlas en font-weight
  light      = 300
  normal     = 400
  semi-bold  = 600
  bold       = 700
  extra-bold = 800

// PALETA DE COLOR, modifique para su propia paleta de color
  azul        = steelblue
  azul-oscuro = #255484
  azul-claro  = lighten(steelblue,25%)
  negro       = #070D12
  blanco      = #FDFDFD
  gris        = #ccc
  gris-oscuro = #444
  gris-claro  = #f0f0f0
  rojo        = darken(tomato,10)

  verde =  #638751
  verde-oscuro = #1F2A1F
  plomo = #B4B5AA
  plomoFondoImagen = #B6B7AE

// ESTILOS BASE
  body--background  = #fff                      // fondo para el body
  body--font-family = 'MyriadPro-Cond', sans-serif   // fuente predeterminada
  body--color       = #333                      // color de texto predeterminado

// ESTILOS DE ENCABEZADOS
  header--font-family    = 'MyriadPro-BoldCond', sans-serif  // fuente para los headers (h1,h2,h3...)
  header--font-weight    = bold                    // grosor de fuente para los headers
  header--text-transform = normal                   // normal, uppercase, lowercase, capitalize
  header--color          = #222                     // color predeterminado de los header

// TAMAÑO DE LOS ENCABEZADOS (h1...h6)
  h1--font-size = 2em
  h2--font-size = 1.6em
  h3--font-size = 1.3em
  h4--font-size = 1em
  h5--font-size = .9em
  h6--font-size = .8em

// ESTIILOS DE ENLACES
  link--color = initial  // color para los enlaces

// ESTILOS DE PÁRRAFOS
  p--font-size   = 1em        // Tamaño de fuente
  p--line-height = 1.5        // Altura de línea
  p--margin      = 1em        // Separación entre un párrafo y el siguiente
  p--font-weight = normal    // Grosor predeterminado de la fuente


// Compile este archivo en ../css/estilos.css
// Importe en este archivo los partials de css de su proyecto

// Importar ed grid
@import "fonts"
  @import "ed-grid/ed-grid";

// Base
  @import "base/_base";

*,*:hover
  cursor url('../images/flecha.png') 30 0, auto
body
  height 100%

.Page
  position absolute
  top 0
  left 0
  right 0
  height 100%
  +desde('l')
    padding-top 166px
    padding-bottom 64px
  .Lateral
    position fixed
    background-color verde-oscuro
    width 50px
    height 100%
    z-index 60
    text-align center
    display none
    &.active
      display block
    &-hamburguer
      width 25px
      height 18px
      margin-top 15px
    +desde('l')
      display none
  .Logo-mobile
    position absolute
    right 10px
    top 8px
    z-index 200
    width 60px
    display none
    z-index 80
    &.active
      display block
.HeaderMobile
  position absolute
  z-index 40
  width 100%
  background verde-oscuro
  &-logo
    padding 10px
    width 120px
  &-ToggleMenu
    position absolute
    top 20px
    right 25px
  +desde('l')
    display none
.Header
  position absolute
  top 0
  left -0%
  right 0
  z-index 50
  width 100%
  transition .5s
  +hasta('l')
    left -100%
    position fixed
    &.active
      left 0
.Logo
  background verde-oscuro
  text-align left
  padding 10px 25px
  display none
  +desde('l')
    text-align center
    padding 10px 0
    display block
  img
    max-width 100px
    +desde('l')
      max-width 100%

.Nav
  +desde('l')
    background verde
    display block
  ul
    max-width 1020px
    margin 0 auto
    // +hasta('l')
    //   background rgba(verde,.8) !important
    li
      +hasta('l')
        width 100%
        flex none !important
        margin-bottom 10px
        &:nth-child(odd)
          background rgba(verde-oscuro,.88)
          a
            color white
        &:nth-child(even)
          background rgba(verde,.88)
          a
            color verde-oscuro
      a
        font-family 'MyriadPro-BoldCond'
        text-align left
        padding-left 80px
        font-size 14px !important
        +desde('l')
          padding-left 0
          min-height 50px
          text-align center
          line-height 1.1
          align-items center
          align-content center
          flex-wrap wrap
          justify-content center
          display flex
          font-size 16px !important
          &.active,&:hover
            color white
            background verde-oscuro

.Container
  position relative
  top 0
  overflow hidden
  +desde('l')
    max-height: 100%
    height 100%
  &-paginas
    width 600%
    height 100%
    position relative
    left 0%
    transition all 1s
  &-pagina
    width 16.66666666%
    float left
    +desde('l')
      min-height none
      height 100%
+hasta('l')
  .PaddingMobile
    padding-left 50px !important
  .PaddingMobileHome
    padding-left 50px !important
.Container-interno
  +hasta('l')
    padding-top 45px
    padding-left 10px
    padding-right 10px
    min-height calc(100vh - 52px)
  +desde('l')
    min-height none
    height 100%

.Franja
  display none
  height calc(100vh - 133px)
  +desde('l')
    height 100%
    display block
  &-container
    display flex
    align-items center
    justify-content center
    height 100%
    +hasta('l')
      align-items flex-start
  &-item
    width 97%
    background rgba(6, 14, 6, 0.8)
    text-align center
    line-height 1
    padding 10px 0
    +hasta('l')
      width 100%
      text-align left
      padding-left 20px
      margin-top 10px
      background rgba(115,152,85, 0.8)
  &-texto
    color white
    margin 0
    display inline-block
    vertical-align middle
    margin-top 10px
    +hasta('l')
      font-size 1.2rem
      text-align left
      color verde-oscuro
  &-imagen
    display inline-block
    vertical-align middle
    margin-left 5px
    +hasta('l')
      width 30px
      float right
      margin-right 20px
.FranjaTop
  position absolute
  top 0
  width 100%
  background-color rgba(verde-oscuro,.8)
  padding 12px 0 10px 15px
  +desde('l')
    display none
  h1
    font-size 1.2rem
    color white
.Full
  +hasta('l')
    padding 10px 0
  +desde('l')
    padding 20px
  height 100%
  width 100%
  display none
  &-container
    position relative
    background rgba(6, 14, 6, 0.8)
    height 100%
    color white
    +hasta('l')
      min-height calc(100vh - 120px)
      padding-top 10px
  &-minimiza,&-minimiza-products
    position absolute
    top 10px
    right 10px
    +hasta('l')
      width 30px
  &-minimiza-products
    display none

.Marco
  &-top,&-bottom
    width 100%
    &:before,&:after
      content ''
      position absolute
      width 17px
      height 17px
  &-top
    &:before
      top 0
      left 0
      background url('../images/marco-top-left.png')
    &:after
      top 0
      right 0
      background url('../images/marco-top-right.png')
  &-bottom
    &:before
      bottom 0
      left 0
      background url('../images/marco-bottom-left.png')
    &:after
      bottom 0
      right 0
      background url('../images/marco-bottom-right.png')


.MarcoBlack
  &-top,&-bottom
    width 100%
    &:before,&:after
      content ''
      position absolute
      width 10px
      height 10px

  &-top
    &:before
      top 7px
      left 10px
      background url('../images/marco-black-top-left.png') no-repeat
    &:after
      top 7px
      right 10px
      background url('../images/marco-black-top-right.png') no-repeat
  &-bottom
    &:before
      bottom 7px
      left 10px
      background url('../images/marco-black-bottom-left.png') no-repeat
    &:after
      bottom 7px
      right 10px
      background url('../images/marco-black-bottom-right.png') no-repeat

.Footer
  padding 10px 0
  width 100%
  background verde-oscuro
  position relative
  z-index 60
  transition .5s
  +desde('l')
    padding 20px 0
    bottom 0
    position fixed
  &-container
    margin 0 auto
    overflow hidden
    color white
    +desde('l')
      width 1020px
  &-direccion1,&-direccion2
    float left
    width 100%
    font-size .7rem
    text-align center
    +desde('l')
      width 50%
      font-size 1rem
  &-direccion1
    +desde('l')
      text-align left
  &-direccion2
    +desde('l')
      text-align right

@import 'form'
@import 'flexslider'
@import 'home'
@import 'about'
@import 'materials'
@import 'clients'
@import 'products'
@import 'corporate'
@import 'contact'
