// VARIABLES DE ED GRID

// Ancho máximo de cada grupo
max-width = 1100px

// Separación entre cajas
padding = 0px

// Tamaños. Puede editar los nombres y las
// medidas, añadir más o quitar.
breakpoints = {
  m  : 480px
  s : 750px
  l    : 1024px
  xl     : 1400px
}

// Fracciones para los anchos de las cajas.
// También puede editarlos si desea
fracciones = {
  tercios : 3
  sextos  : 6
  octavos : 8
}

// Componentes ED GRID
// Por favor desactive los que no vaya a usar para mejorar el rendimiento
// Para hacerlo solo comente la linea correspondiente escribiendo doble slash al inicio
@import "componentes/_base";        // Estilos básicos para RWD
@import "componentes/_core";        // Núcleo de ED GRID, grupos y cajas
@import "componentes/_mixins";      // Mixins ED GRID
@import "componentes/_desarrollo";  // Modo desarrollo
@import "componentes/_visibilidad"; // Controlar la visibilidad
@import "componentes/_utilidades";  // Utilidades adicionales
//@import "componentes/_video";       // Videos responsive
@import "componentes/_ed-menu";     // Ed menu
@import "componentes/_flexbox";     // Flexbox
//@import "componentes/_offset";      // Offset
//@import "componentes/_modulos";      // Botones, sociales
