.Container-pagina.About.PaddingMobile
  .FranjaTop
    h1.FranjaTop-titulo ABOUT US
  .Container-interno
    .Franja
      .Franja-container
        .Franja-item
          h1.Franja-texto MILITARIA'S CODE
          img.Franja-imagen(src="images/mas.png",data-toggle="About")
    .Full
      .Full-container
        .ed-container
          .ed-item
            img.Full-minimiza.desde-l(src="images/minimizar.png",data-toggle="About")
            h1.About-titulo MILITARIA'S CODE
            .About-fila
              .About-columna
                .About-cart
                  span.Marco-top
                  .About-front.front
                    img(src="images/experience.png")
                  .About-back.back
                    h2.About-backTitulo EXPERIENCE
                    p.About-backParrafo Exceeding all queality expectations since 2005.
                  span.Marco-bottom
              .About-columna
                .About-cart
                  span.Marco-top
                  .About-front.front
                    img(src="images/experience.png")
                  .About-back.back
                    h2.About-backTitulo INTEGRITY
                    p.About-backParrafo We are driven by Ethics, Honesty and Reliaility.
                  span.Marco-bottom
              .About-columna
                .About-cart
                  span.Marco-top
                  .About-front.front
                    img(src="images/commitment.png")
                  .About-back.back
                    h2.About-backTitulo COMMITMENT
                    p.About-backParrafo Our insignia
                  span.Marco-bottom
              .About-columna
                .About-cart
                  span.Marco-top
                  .About-front.front
                    img(src="images/improvement.png")
                  .About-back.back
                    h2.About-backTitulo IMPROVENMENT
                    p.About-backParrafo Because everything can always be done better.
                  span.Marco-bottom
