.Container-pagina.Clients.PaddingMobile
  .FranjaTop
    h1.FranjaTop-titulo CLIENTS
  .Container-interno
    .Franja
      .Franja-container
        .Franja-item
          h1.Franja-texto CLIENTS
          img.Franja-imagen.desde-l(src="images/mas.png",data-toggle="Clients")
    .Full
      .Full-container
        .ed-container
          .ed-item
            img.Full-minimiza.desde-l(src="images/minimizar.png",data-toggle="Clients")
