.Container-pagina.Contact.PaddingMobile
  .FranjaTop
    h1.FranjaTop-titulo CONTACT US
  .Container-interno
    .Franja
      .Franja-container
        .Franja-item
          h1.Franja-texto CONTACT US
          img.Franja-imagen(src="images/mas.png",data-toggle="Contact")
    .Full
      .Full-container
        img.Full-minimiza.desde-l(src="images/minimizar.png",data-toggle="Contact")
        .Contact-container
          form.Contact-form(action="enviar.php",method="post")
            .ed-container.Form-group
              .ed-item.l-50
                input(type="text",name="firstName")
                label.Form-label First Name
              .ed-item.l-50
                input(type="text",name="lastName")
                label.Form-label Last Name
            .ed-container.Form-group
              .ed-item
                label.Form-label Email Address
                input(type="text",name="email")
            .ed-container.Form-group
              .ed-item
                label.Form-label Message
                textarea(row="4",name="message")
            .ed-container.Form-group
              .ed-item
                button(type="submit").Form-button SUBMIT
