.Container-pagina.Corporate.PaddingMobile
  .FranjaTop
    h1.FranjaTop-titulo CORPORATE SOCIAL RESPONSABILITY
  .Container-interno
    .Franja
      .Franja-container
        .Franja-item
          h1.Franja-texto CORPORATE SOCIAL RESPONSABILITY
          img.Franja-imagen(src="images/mas.png",data-toggle="Corporate")
    .Full
      .Full-container
        img.Full-minimiza.desde-l(src="images/minimizar.png",data-toggle="Corporate")
        .Corporate-container
          .Corporate-item
            span.Marco-top
            p Fighting for a more sustainable business. Fighting for a more sustainable wolrd. <br> CSR is reflected in our people and processes. It drives our efforts and initiatives to improve continuously at operating safely, efficiently and. It supports the long-term success of Militaria.
            span.Marco-bottom
