.Container-pagina.Home
  .FranjaTop
    h1.FranjaTop-titulo HOME
  .Container-interno
    .ed-container.main-end
      .ed-item.l-40
        h1.Home-titulo THE PARTNER YOUR BUSINESS NEEDS FOR TACTICAL GEAR <img src="images/logo-peque.png">
        p.Home-parrafo Militaria is the biggest Peruvian Corporation in export of worldclass military backpacks, bags, vests or clothes. <b>You name it, we make it.</b>
