doctype html
html
  head(lang="es")
    title MILITARY
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    // if lt IE 9
      script(type="text/javascript", src="js/html5shiv.js")
    link(rel="icon",type="image/png",href="images/favicon.png")
    link(rel="stylesheet", href="css/styles.css", type="text/css")
  body
    .Page
      img.Logo-mobile(src="images/logo.png")
      .Lateral
        img.Lateral-hamburguer(src="images/hamburguer.png")
      .HeaderMobile
        img.HeaderMobile-logo(src="images/logo.png")
        .HeaderMobile-ToggleMenu
          img(src="images/toggle-menu.png")
      header.Header
        .Logo
          img(src="images/logo.png")
        nav.Nav
          ul.ed-menu.nav-bar.tablet-horizontal
            li: a.home.active(href="#Home") HOME
            li: a.about(href="#About") ABOUT US
            li: a.products(href="#Products") PRODUCTS
            li: a.materials(href="#Materials") MATERIALS & CERTIFICATIONS
            li: a.corporate(href="#Corporate") CORPORATE SOCAL RESPONSABILITY
            li: a.contact(href="#Contact") CONTACT US


      section.Container
        .Container-paginas
          include home.pug
          include about.pug
          include products.pug
          include materials.pug
          include corporate.pug
          include contact.pug


      footer.Footer
        .Footer-container
          .Footer-direccion1
            p <b>Factory address:</b> Jirón Pancho Fierro 3541 - Los Olivos / <b>Phone number:</b> (511) 535-4265
          .Footer-direccion2
            p <b>Office address:</b> Av. Boulevard  594 - San Borja / <b>Phone number:</b> (511) 436-2554
    script(src="js/jquery-1.12.4.min.js")
    script(src="js/jquery-ui.min.js")
    script(src="js/jquery.flip.min.js")
    script(src="js/jquery.flexslider-min.js")
    script(src="js/jquery.validate.js")
    script(src="js/modernizr-custom.js")
    script(type="text/javascript", src="js/main.js?1.5")
