.Container-pagina.Materials.PaddingMobile
  .FranjaTop
    h1.FranjaTop-titulo MATERIALS
  .Container-interno
    .Franja
      .Franja-container
        .Franja-item
          h1.Franja-texto MATERIALS
          img.Franja-imagen.desde-l(src="images/mas.png",data-toggle="Materials")
    .Full
      .Full-container
        img.Full-minimiza.desde-l(src="images/minimizar.png",data-toggle="Materials")
        .Materials-container
          .Materials-item
            .Matererial-Parrafo
              p All Militaria's Gear tactical Nylon products are made using the finest quality Military Spec materials and construccion techniques
            .Materials-imagenes
              span.MarcoBlack-top
              img(src="images/materials/ae.png")
              img(src="images/materials/coats.png")
              img(src="images/materials/gerald.png")
              img(src="images/materials/global.png")
              img(src="images/materials/kenyon.png")
              img(src="images/materials/texcel.png")
              img(src="images/materials/ykk.png")
              span.MarcoBlack-bottom
