.Container-pagina.Products.PaddingMobile
  .FranjaTop
    h1.FranjaTop-titulo  PRODUCTS
  .Container-interno
    .Franja
      .Franja-container
        .Franja-item
          h1.Franja-texto PRODUCTS
          img.Franja-imagen(src="images/mas.png",data-toggle="Products")
    .Full
      .Full-container
        img.Full-minimiza.desde-l(src="images/minimizar.png",data-toggle="Products")
        img.Full-minimiza-products(src="images/minimizar.png",data-toggle="Products")
        .Products-lista
          .Products-listaContainer
            span.Marco-top
            ul
              li: a(href="#") CASES
              li: a.active(href="#") BACKPACKS
              li: a(href="#") VESTS
            span.Marco-bottom
        .Products-contenido
          .ed-container
            .ed-item
              .Products-fila
                .Products-columna
                  .Products-slider
                    .flexslider
                      ul.slides
                        li
                          img(src="images/mochila.jpg")
                        li
                          img(src="images/mochila.jpg")
                        li
                          img(src="images/mochila.jpg")
                        li
                          img(src="images/mochila.jpg")
                        li
                          img(src="images/mochila.jpg")
                .Products-columna
                  .Products-detalle
                    .Products-detalleCabezera
                      h2.Products-detalleTitulo BACKPACKS N1
                      .Products-detalleFlechas
                        a.izquierda(href="#") ◄
                        a.derecha(href="#") ►
                    p.Products-parrafo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.
                    ul.Products-descripcion
                      li Descripcion 1: Sed at imperdiet ante.
                      li Descripcion 1: Sed at imperdiet ante.
                      li Descripcion 1: Sed at imperdiet ante.
                .Products-columna
                  .Products-detalleLista
                    ul
                      li: a(href="#") CASES
                      li: a.active(href="#") BACKPACKS
                      li: a(href="#") VESTS
                  .Products-galeria
                    .Products-grid
                      each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                        .Products-box
                          img(src="images/mochila-mini.png")
