// todo v2. mixins ed-container() y ed-item() para aplicarlos donde se requiera
/*
  GRUPOS Y CAJAS
  ==============
  Los grupos son contenedores para las cajas.
  Las cajas crean las divisiones en el grupo (columnas).
  En ED GRID 1.2. los grupos son containers y las
  cajas son items. Para crear un namespace se usan las
  clases ed-container y ed-item. Se pueden seguir usando
  las clases .grupo y .caja pero se desaconseja (en la v2 desaparecerán)
*/
.ed-container
  display       flex
  flex-wrap     wrap
  max-width     max-width
  margin-left   auto
  margin-right  auto
  width         100%

  &.total
  &.full
    max-width  100%

.ed-item
  margin         0
  padding-left   padding
  padding-right  padding
  width          100%

// Tamaños base en porcentajes
for i in (1..20)
  .b-{i*5},
  .ed-item.base-{i*5}
    width (i*5 + "%")

// Tamaños base en fracciones
for fraccion-nombre, fraccion in fracciones
  for i in (1..fraccion)
    .b-{i}-{fraccion},
    .ed-item.base-{i}-{fraccion}
      width: (100% / fraccion) * i

// Breakpoints
for size, screen-size in breakpoints
  // Loops para tamaños en porcentajes y fracciones
  @media all and (min-width: screen-size)
    for i in (1..20)
      .{size}-{i*5},
      .ed-item.{size}-{i*5}
        width: (i*5 + "%")
    //Tamaño en fracciones
    for fraccion-nombre, fraccion in fracciones
      for i in (1..fraccion)
        .{size}-{i}-{fraccion},
        .ed-item.{size}-{i}-{fraccion}
          width: (100% / fraccion) * i
