// Definir offsets (los han pedido hace mucho)
for size, screen-size in breakpoints
  // Loops para tamaños en porcentajes y fracciones
  @media all and (min-width: screen-size)
    // Tamaños en porcentajes
    for i in (1..20)
      .ed-item.{size}-offset-{i*5}
        margin-left i*5 + "%"

    //Tamaño en fracciones
    for fraccion-nombre, fraccion in fracciones
      for i in (1..fraccion)
        .ed-item.{size}-offset-{i}-{fraccion}
          margin-left (100% / fraccion) * i
